h3 {
  margin-bottom: 100px;
}

.container {
  padding-top: 100px;
}

.new-contact {
  margin-bottom: 30px;
}

.table-row {
  cursor: pointer;

  &:hover {
    background-color: aliceblue;
  }
}