<div class="container">

    <h3>Address book</h3>

    <p *ngIf="!contactItems$"><em>Loading...</em></p>

    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-primary new-contact" (click)="onAddNewContact()">Add</button>
        </div>
    </div>


    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="contactItems$">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Date Of Birth</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contact of contactItems$ | async" (click)="onEditContact(contact)" class="table-row">
            <td>{{ contact.firstName }}</td>
            <td>{{ contact.surname }}</td>
            <td>{{ contact.emailAddress }}</td>
            <td>{{ contact.dateOfBirth | date: 'yyyy-MM-dd' }}</td>
        </tr>
        </tbody>
    </table>

</div>