<div class="container">

    <h3>Create/Edit contact</h3>

    <form [formGroup]="userForm" (submit)="saveUser()">

        <div class="form-group row">
            <label for="emailAddress" class="col-4 col-form-label">Email</label>
            <div class="col-8">
                <input formControlName="emailAddress" id="emailAddress" name="emailAddress" type="text" class="form-control" required="required" [readonly]="userExists">
                <div class="alert alert-danger" role="alert"
                     *ngIf="userForm.controls['emailAddress'].touched && !userForm.controls['emailAddress'].valid">
                    Required, valid email address
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="firstName" class="col-4 col-form-label">First Name</label>
            <div class="col-8">
                <input formControlName="firstName" id="firstName" name="firstName" type="text" class="form-control" required="required">
                <div class="alert alert-danger" role="alert"
                     *ngIf="userForm.controls['firstName'].touched && !userForm.controls['firstName'].valid">
                    Required, max length 100 characters
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="surname" class="col-4 col-form-label">Surname</label>
            <div class="col-8">
                <input formControlName="surname" id="surname" name="surname" type="text" class="form-control" required="required">
                <div class="alert alert-danger" role="alert"
                     *ngIf="userForm.controls['surname'].touched && !userForm.controls['surname'].valid">
                    Required, max length 100 characters
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="dateOfBirth" class="col-4 col-form-label">Date Of Birth</label>
            <div class="col-8">
                <input formControlName="dateOfBirth" id="dateOfBirth" name="dateOfBirth" type="text" class="form-control" required="required" placeholder="Format: yyyy-MM-dd (2021-10-03)">
                <div class="alert alert-danger" role="alert"
                     *ngIf="userForm.controls['dateOfBirth'].touched && !userForm.controls['dateOfBirth'].valid">
                    Required, must be in the past. Format: yyyy-MM-dd (2021-10-03)
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
                <button name="back" type="button" class="btn  btn-outline-secondary" (click)="openAddressBook()">Cancel</button>
            </div>

        </div>
    </form>
</div>